
/* line 28 : C:\projetos\sources\microservicos-site\dev\assets\styles\webinar-base.styl */

/* line 1 : C:\projetos\sources\microservicos-site\node_modules\gulp-stylus\node_modules\stylus\lib\functions\index.styl */

/* line 2 : C:\projetos\sources\microservicos-site\dev\assets\styles\webinar-base.styl */
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
}

/* line 12 : C:\projetos\sources\microservicos-site\dev\assets\styles\webinar-base.styl */
.lead {
  font-size: 18px;
  font-weight: 400;
}

/* line 16 : C:\projetos\sources\microservicos-site\dev\assets\styles\webinar-base.styl */
.intro-header {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  color: #f8f8f8;
  background: url("../images/desktop.jpg") no-repeat center center;
  background-size: cover;
}

/* line 24 : C:\projetos\sources\microservicos-site\dev\assets\styles\webinar-base.styl */
.intro-message {
  position: relative;
  padding-top: 20%;
  padding-bottom: 20%;
}

/* line 28 : C:\projetos\sources\microservicos-site\dev\assets\styles\webinar-base.styl */
.intro-message > h1 {
  margin: 0;
  font-size: 5em;
  text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
}

/* line 32 : C:\projetos\sources\microservicos-site\dev\assets\styles\webinar-base.styl */
.intro-message > h3 {
  text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
}

/* line 35 : C:\projetos\sources\microservicos-site\dev\assets\styles\webinar-base.styl */
.intro-divider {
  width: 400px;
  border-top: 1px solid #f8f8f8;
  border-bottom: 1px solid rgba(0,0,0,0.2);
}

/* line 40 : C:\projetos\sources\microservicos-site\dev\assets\styles\webinar-base.styl */
@media( max-width: 767px) {

/* line 41 : C:\projetos\sources\microservicos-site\dev\assets\styles\webinar-base.styl */
  .intro-message {
    padding-bottom: 15%;
  }

/* line 43 : C:\projetos\sources\microservicos-site\dev\assets\styles\webinar-base.styl */
  .intro-message > h1 {
    font-size: 3em;
  }

/* line 45 : C:\projetos\sources\microservicos-site\dev\assets\styles\webinar-base.styl */
  ul.intro-social-buttons > li {
    display: block;
    margin-bottom: 20px;
    padding: 0;
  }

/* line 49 : C:\projetos\sources\microservicos-site\dev\assets\styles\webinar-base.styl */
  ul.intro-social-buttons > li:last-child {
    margin-bottom: 0;
  }

/* line 51 : C:\projetos\sources\microservicos-site\dev\assets\styles\webinar-base.styl */
  .intro-divider {
    width: 100%;
  }
}
